.centered {
    text-align: center;
}

.no-bold {
    text-transform: none !important;
}

.white {
    color: #fff !important;
}

.blue {
    color: #1e88e5;
}

.right {
    margin-right: 18px !important;
}

.ng-link {
    cursor: pointer;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.75;
}

.grey-tag {
    background-color: #e0e0e0 !important;
    color: #000 !important;
}