.centered {
    text-align: center;
}

.no-bold {
    text-transform: none !important;
}

.white {
    color: #fff !important;
}

.white-back {
    background-color: #fff !important;
}

.blue {
    color: #1e88e5;
}

.red {
    color: red !important;
}

.right {
    margin-right: 18px !important;
}

.ng-link {
    cursor: pointer;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

.grey-tag .mdc-chip {
    background-color: #e0e0e0 !important;
    color: #000 !important;
}

// highlight js

pre {
    border-radius: 5px;
    counter-reset: linecounter;
}

pre .line-num {
    min-width: 3ch;
    display: inline-block;
    border-right: 1px solid;
    margin-right: 3ch;
    color: #c5c8c6;
}

pre .line-num::before {
    counter-increment: linecounter;
    content: counter(linecounter);
}

.hljs {
    padding: 1rem !important;
    line-height: 1.45 !important;
}

// pagination

.light-pagination-nav.svelte-bxgrui .pagination-nav {
    border: none;
    box-shadow: none !important;
}

.card-filler {
    min-height: 600px;
}

.post .smui-card--padded {
    padding-bottom: 0px;
}

.mdc-button {
    font-weight: 400 !important;
}

// flex container (for edit post)

.flex-container {
    display: flex;
    justify-content: space-between;
}

// chips-input

.no-flex-wrap {
    flex-wrap: nowrap !important;
}

