.centered {
    text-align: center;
}

.no-bold {
    text-transform: none !important;
}

.white {
    color: #fff !important;
}

.blue {
    color: #1e88e5;
}

.right {
    margin-right: 18px !important;
}