@use 'sass:color';
@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with ($primary: #000,
  $secondary: #1e88e5,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);

@import "https://fonts.cdnfonts.com/css/Open-Sans";

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans";
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-chip {
  background-color: #000 !important;
  color: #fff !important;
  font-family: "Open Sans" !important;
  will-change: unset !important;
}

// https://svelte-materialify.vercel.app/styles/colors/#color-pack